body {
  font-family: sans-serif;
  font-size: 13px;
  overflow-y: scroll;
  color: #111111;
  background-color: #e8e8e8;
  background-image: url(image/bg.png);
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 0px;
}



#container {
  background-color: #fefdfc;
	padding: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 20px;
	word-wrap: break-word;
	-webkit-box-shadow: -0px 0px 10px #888;
	box-shadow: -0px 0px 10px #888;
	margin-left: 220px;
}

#content {
  position: relative;
  
	line-height: 1.5em;
}

p {
  margin: .4em 0 .5em 0;
  line-height: 1.5em;
}

#pageitems {
	-webkit-column-width: 180px;
	-webkit-column-gap: 20px;
	column-width: 180px;
	column-gap: 20px;
	-moz-column-width: 180px;
	-moz-column-gap: 20px;
}

#slider {
	width: 100%;
}

pre {
  word-wrap: break-word;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: #0b0080;
}
a {
  text-decoration: none;
  color: #0645AD;
  background: none;
}

a:active {
  color: #FAA700;
}

a.notcached {
  opacity: 0.7;
}

a.new {
  color: #BA0000;
}
.rellink, .dablink {
  font-style: italic;
  padding-left: 1.6em;
  margin-bottom: 0.5em;
}

#titlebar {
  position: absolute; 
	top: 0px;
	left: 0;
  background-color: #e8e8e8;
  width: 100%;
  background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0, #E8E8E8), color-stop(1, #C7C7C7) );
}

#toolbar {

	position: fixed;
	top: 0px;
	left: 0;
  margin: 15px;
	/*
  background-color: #e8e8e8;
	padding: 4px;
	padding-right: 20px;
	padding-top: 9px;
	border-bottom-left-radius: 10px;
	right: 0px;
	*/
	width: 220px;
}



#toolbar a:visited {
	color: #0645AD !important;
}



#search {
	border: 1px solid #aaa;
	font-size: 13px;
	padding: 0.2em;
	width: 200px;
	outline: none;
	margin-top: 10px;
	
}

#search:focus {
	-webkit-box-shadow: 0px 0px 10px #aaa;
	box-shadow: 0px 0px 10px #aaa;
}

.autocomplete {
	width: 254px;
	background-color: white;
	border: 1px solid #aaa;
	cursor: default;
	overflow-x: hidden;	
	-webkit-box-shadow: 0px 5px 10px #aaa;
	box-shadow: 0px 5px 10px #aaa;
}

.autocomplete .item {
	width: 100%;
	padding: 0.2em;
}


.autocomplete .item:hover {
  background-color: #e6edf7;
}


.autocomplete .item.highlight {
	/*background-color: #4C59A6;*/
	/*background-color: rgb(181, 213, 255);*/
	background-color: #cedced;
}

#title {
	margin-top: 3px;
	margin-bottom: 0px;
	min-height: 2.5em;
	word-wrap: break-word;
	/*padding-left: 18px;*/
	/*
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis
	*/
}


#outline ol {
  padding-left: 25px;
}

#outline {
  margin-right: 15px;
}

#outline a.selected {
  font-weight: bold;
}

#nav {
	padding: 5px;
	padding-top: 20px;
	text-align: center;
}


#nav * {
	margin-right: 18px;
}



footer {
	padding-top: 10px;
	font-size: x-small;
	margin-left: 220px;
}

/*
#a55858
#333333
#0b0080
#520
*/

a.next, a.prev {
	font-weight: bold;
}

#download {
	margin-right: 15px;
	/*padding-right: 20px;*/
}
#status {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#download progress {
  width: 100%;
  margin-top: 10px;
  display: block;
}

.unknown_box, .wikibox {
  font-family: monospace;
}

@media all and (max-width: 640px) {
  #container {
    margin-left: 0;
    margin-top: 10px;
  }
  footer {
    margin-left: 0;
  }
  #title {
    min-height: 0;
    overflow:hidden;
    white-space: nowrap;
    width: 200px;
    text-overflow: ellipsis;
  }
  #autocomplete {
    position: absolute;
  }
  #nav {
    position: absolute;
    right: 155px;
    top: 0;
    padding-top: 12px;
  }
  #nav a {
    padding-right: 5px;
  }
  #search {
    position: absolute;
    right: 0;
    top: 0;
    width: 150px;
  }
  #toolbar {
    position: relative;
    width: 100%;
    margin: 0px;
    
  }
  #outline {
    display: none;
  }
  #download {
    margin-left: 250px;
    margin-right: 0;
  }
  #status {
    position: absolute;
    left: 0;
    margin-top: -4px;
    width: 250px;
  }
}
